<div class="card p-2 m-2 shadow">
	<h4>@name - @age years old</h4>
	<button class="btn btn-danger" @onclick="onDelete"> Delete User </button>
</div>

@code {
	[Parameter]
	public string? name { get; set; }
	[Parameter]
	public int age { get; set; }
	[Parameter]
	public EventCallback onDelete { get; set; }
}	
