@using Models

<div class="card">
	<h3>Videogame:</h3><p>@videog.VGName</p>
	<h4>Category:</h4><p>@videog.VGCategory</p>
	<h4>Year of release:</h4><p>@videog.VGYear</p>
	<h4>Rating:</h4><p>@videog.VGRating</p>

	<button class="btn btn-success mt-3">Edit</button> <button class="btn btn-danger mt-3">Delete</button>
</div>

@code {
	[Parameter]
	public VGModel videog { get; set; }
}
