@page "/VGhome"
@layout Layout.VideoGamesLayout

<div class="container mt-3">
	<h1>VideoGames Management!</h1>
	<p>In this part of the code, you will be able to see a list of videogames, add new ones and edit the information on them</p>
</div>
@code {

}
