@inherits LayoutComponentBase

<div class="page">
	<div class="main">
		<nav class="navbar navbar-expand bg-primary p-3 text-white">
			<a href="/salute" class="me-3 text-white">👋 Salute</a>
			<a href="/registerManagement" class="me-3 text-white">👥 User Management</a>
		</nav>
		<div class="container mt-4">
			@Body
		</div>
	</div>
</div>