@inherits LayoutComponentBase

<div class="page">
	<div class="main">
		<nav class="navbar navbar-expand bg-dark p-3 text-white">
			<a href="/VGHome" class="me-3">Home</a>
			<a href="/VGAdd" class="me-3">Add game</a>
			<a href="/VGCatalog" class="me-3">Catalog</a>
			<a href="/VGAbout" class="me-3">About</a>
		</nav>
		<div class="container mt-4">
			@Body
		</div>
	</div>
</div>
@code {

}
